<nav class="mat-elevation-z6">
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>{{title}}</h1>
        <span class="navbar-spacer"></span>
        <div class="pull-right">
            <button mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button aria-label="icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</nav>

<app-active-workorder-filter></app-active-workorder-filter>

<app-active-workorder-table></app-active-workorder-table>